.excel-download{
    
    border-radius:4px;
    padding:4px 14px;
}
    .excel-download img{
        width:14px;
        height: auto;
    }

    .excel-download:hover{
        text-decoration: none;
        cursor: pointer;
    
}