.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 4%);
  min-width: 253px;
  height: 158px;
  border-radius: 10px;
  transition: 0.2s all;
}

.card-container:hover {
  scale: 1.05;
}

.card-title {
  font-size: 22px;
}

.card-icon {
  opacity: 0.4;
}

.icon-container {
  position: absolute;
  opacity: 0.04;
  font-size: 95px;
}
.trend-up {
  color: green;
}

.trend-down {
  color: red;
}
